nav{
    width:100%;
}

.fancy-undeline {
  display: inline-block;
  position: relative;
  color: black;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  }

  .fancy-undelined {
    display: inline-block;
    position: relative;
    color: white;
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    }
  
    .glass{
      padding: auto;
      /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); 
    }