<ul class="cards">
    <div>
    <li>
      <a href="{{images.url}}" class="card">
        <img src="{{images.url}}" class="card__image" alt=""/>
        <div class="card__overlay">
          <div class="card__header bg-light">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>    
            <a href="{{images.url}}" download="{{images.url}}">
                <img class="card__thumb" src="https://img.icons8.com/ios/256/download-from-cloud--v1.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">Presiona para descargar</h3>
            </div>
            </a>                 
          </div>
        </div>
      </a>      
    </li>
</div>
</ul>