<div class="container-fluid">
  <div id="entrar" class="page">
    <a href="https://github.com/PFT-Repo" target="_blank">
      <img src="assets/img/git.png" alt="Projects in Github" />
    </a>
    <main>
      <div class="row">
        <div class="col-12">
          <h1 class="mx-auto">
            <img class="mx-auto"  src="assets/img/logo.png" alt="Daniel Chavez aka Turpial Code Logo" />
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn" routerLink="/home" (click)="goHome()">Visitar Portafolio</button>
        </div>
        <div class="col-6">
                <button class="btn" routerLink="/credits" (click)="goCredits()">Visitar Creditos</button>

        </div>
      </div>
    </main>
  </div>
</div>