<!--<iframe type="audio/mp3" allow="autoplay" style="display: flex"
  src="../../../assets/The Weeknd - Blinding Lights (Official Audio).mp3#t=8">
</iframe>-->
<audio allow="autoplay" autoplay id="audio" #audio>
    <source [src]="audioPath" type="audio/mp3">
</audio>
<!--<button #button style="visibility: visible"></button>-->
<div class=" container-fluid justify-content-center d-flex overflow-hidden">
    <marquee direction="up" class="scrollingtext" scrollamount="4" behavior="scroll" width="60%" height="915px">
        <img src="../../../assets/img/logo.png" width="70%" height="auto">
        <br>
        <br>
        <p> He recorrido un largo camino en la programación para poder llegar a este punto, en donde me siento realmente
            agradecido por todo el apoyo que he recibido y las orientaciones de las cuales alguna que otra no haya sido
            quizas bien recibida por mi parte.</p>
        <p>Desde el inicio de intentar hacer la primera web viendo video tutoriales en Youtube y 'robando' códigos de
            blogs de dudosa procedencia por allá en el 2012, en mi se sembrarón los cimientos de este hermoso estilo de
            vida.</p>
        <p>Siempre estaré en deuda con todas las personas que en mayor o menor medida me han apoyado y dando ideas y
            demás para poder dedicarme a esto que tanto disfruto aunque alguno que otro dolor de cabeza me ha hecho
            pasar.</p>
        <p>Si me preguntaran de volver a empezar, para mi es muy claro que todo vale la pena en este camino, más cuando
            todo funciona sin más, este es el mejor ejemplo para el dicho " de los errores se aprende" y no guardo
            ninguna duda al respecto.</p>
        <p>Espero que esta conclusión de años de trabajo de forma empírica sea el nuevo comienzo a otro camino en busca
            de la felicidad y realización personal.</p>
        <h1>Agradecimientos especiales</h1>
        <div class="row">
            <div class="col">
                <p>Dra. Rosa Orribo (Mi madre)</p>
                <p>Ismael Kale</p>
                <p>It Academy Barcelona</p>
                <p>Triessy Sifontes</p>
                <p>Yona Garcia</p>
                <p>Beatriz Cabrita</p>
                <p>Miguel Moron</p>
                <p>Brayan Piñango</p>
                <p>Thairis Altagracia</p>
                <p>Romario Restrepo</p>
                <p>Marlene Medina</p>
                <p>Lydia Bravo</p>
                <p>Guido Daniel</p>
                <p>Joaquim Correa</p>
                <p>Tu Codigo Facilito</p>
                <p>Youtube</p>
            </div>
            <div class="col">
                <p>Dr. Jose Chávez (mi padre)</p>
                <p>Fernando Herrera</p>
                <p>42 École Barcelona</p>
                <p>Rosmary Sifontes</p>
                <p>Stephanie Pereira</p>
                <p>Michelle Garcia</p>
                <p>Lucia Silva</p>
                <p>Andres Hernandez</p>
                <p>Andrea Rodriguez</p>
                <p>Miguel Mota</p>
                <p>Thomas Huerta</p>
                <p>Estefanía Garcia</p>
                <p>Nacho Martin</p>
                <p>Oriol Busquet</p>
                <p>Crehana.com</p>
                <p>StackOverflow</p>
            </div>
        </div>
        <br>
        <br>
        <p style="text-transform: capitalize;">Universidad Cátolica Andrés Bello (UCAB)</p>
        <br>
        <br>
        <p> Este portafolio se ha desarrollado en distintos lugares de Barcelona </p>
        <div class="row">
            <div class="col">
                <p>Barcelona Activa (sede Roc Boronat 117)</p>
                <br>
                <p>Arc de Triunf</p>
            </div>
            <div class="col">
                <p>McDonalds Glories Diagonal (Centro Comercial Glories)</p>
                <br>
                <p>Plaza Catalunya</p>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <img src="https://cibernarium.barcelonactiva.cat/documents/10180/693138/IT+logo.png/1c84715b-b403-4f41-9b5d-8691f99dec40?t=1520933248611"
                    width="100%" height="auto">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Logotipo_del_Gobierno_de_Espa%C3%B1a.svg/2560px-Logotipo_del_Gobierno_de_Espa%C3%B1a.svg.png"
                    width="100%" height="auto">
            </div>
            <div class="col">
                <img src="https://www.barcelonactiva.cat/image/layout_set_logo?img_id=37024&t=1674544237175"
                    width="100%" height="auto">
                <img src="https://a.storyblok.com/f/106378/724x366/49edcdcc89/threejs.png" width="100%" height="auto">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Logotipo_de_la_Generalitat_de_Catalunya.svg/1200px-Logotipo_de_la_Generalitat_de_Catalunya.svg.png"
                    width="100%" height="auto">
                <img src="https://angular.io/assets/images/logos/angular/angular.png" width="50%" height="auto">
            </div>

        </div>
        <div class="text-center">
            <div class="col-6 mx-auto">
                <img src="https://t4.ftcdn.net/jpg/00/24/80/09/360_F_24800922_BIhiWZjd4R35Wkts1KtKRYP5SWTFD0kE.jpg"
                    width="100%" height="auto" alt="">
            </div>
        </div>
        <br>
        <br>
        <h1>Soundtrack</h1>
        <p>The Weekend - Blinding Lights</p>
        <br>
        <br>
        <br>
        <p>Daniel Oreste Chávez Orribo 2023 &copy; todos los derechos reservados </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </marquee>
</div>